.brand-wrap {
    float: left;
}

a:visited {
    color: #003789;
}
a, a:link {
    text-decoration: none;
    color: #026dc5;
}
.banner {
    margin-top: 4px;
}
.banner {
    height: 100px;
    overflow: hidden;
    display: inline-block;
    width: 234px;
    float: left;
}

body {
  padding: 20px;
}

md-card {
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}
